# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
flask/

# Flask & Config
instance/
config.py
.env
.env.*
*.secret
*.key
CountLines.bat
uploads/

# MongoDB (if using local dev Mongo data dirs)
data/
dump/
*.bson
*.json

# IDE
.vscode/